@import '../../styles/variables.scss';

.order-page {
  padding: 88px 0;
  min-height: 100vh;

  .order {
    display: flex;
    flex-direction: column;
    gap: 36px;

    .title {
      font-size: 32px;
    }

    .flex-block {
      display: flex;
      gap: 44px;
      align-items: flex-start;

      .payment-successful {
        position: fixed;
        z-index: 550;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($color: #000000, $alpha: 0.8);

        .payment-successful-block {
          background: #fff;
          max-width: 420px;
          border-radius: 12px;
          width: 100%;
          padding: 24px;
          display: flex;
          flex-direction: column;
          gap: 24px;
          align-items: center;

          .payment-successful-title {
            font-size: 24px;
          }

          button {
            background: #000;
            color: #fff;
            padding: 12px;
            border-radius: 12px;
            transition: all 0.3s ease;

            &:hover {
              background-color: rgb(83, 83, 83);
            }
          }

          span {
            color: #000;
          }
        }
      }

      .payment-error {
        font-size: 12px;
        color: darkred;
        margin-bottom: 12px;
      }

      .contact-block {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .info {
          color: #fff;
          font-size: 20px;
          display: flex;
          flex-direction: column;
          gap: 12px;
          overflow: hidden;
          min-width: 280px;

          .info-title {
            display: flex;
            align-items: center;
            gap: 12px;
            cursor: pointer;
            user-select: none;

            .number {
              width: 24px;
              height: 24px;
              border: 2px solid #fff;
              border-radius: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .input-block {
            padding-left: 36px;
            display: flex;
            flex-direction: column;
            gap: 12px;
            // height: 0px;
            transition: all 0.3s ease;

            input {
              padding: 12px;
              border: 1px solid #fff;
              border-radius: 3px;
              background-color: transparent;
              color: #fff;
            }
          }
        }

        .contact-btns {
          .btn-group {
            display: flex;
            justify-content: space-between;

            button {
              padding: 8px;
              max-width: 90px;
              width: 100%;
              text-align: center;
              background-color: $mainPink;
              color: #000;
            }
          }
        }
      }

      .cart-block {
        display: flex;
        flex-direction: column;
        gap: 16px;

        h3 {
          font-size: 20px;
          text-decoration: underline;
        }

        .price-block {
          display: flex;
          flex-direction: column;
          gap: 16px;
          font-size: 16px;

          .price {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;

            .bold {
              font-weight: bold;
            }
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      .flex-block {
        flex-direction: column-reverse;
        align-items: normal;
      }
    }
  }
}
