.logo {
    padding: 5px 0;


    .logo__link {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo__image {
            width: 100%;
        }

        .full {
            display: block;
        }

        .min {
            display: none;
            width: 80px;
        }

        @media screen and (max-width: 768px) {
            .full {
                display: none;
            }

            .min {
                display: block;
            }

        }

        @media screen and (max-width: 340px) {


            .min {
                width: 48px;
            }

        }
    }

}